@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-family: "Poppins", sans-serif;
    
    
}
.my-nav:hover{
    border:1px solid whitesmoke;
    padding: 5px;

}
.nav-links:hover{
    background-color: crimson;
    
}
.mybtn{
    
    color: black;
}
.body-clr{
    background-color: beige;
}
.hero-sec{
    min-height: 88vh;
   /* background-color: khaki;*/
}

.span1{
    color:rgba(0, 21, 255, 0.603)
}

.mypara{
    color:gray;
    max-width: 500px;
    text-align: justify;
}

.image-cont1{
   
    width:25rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1rem solid rgb(18, 17, 16);
   /* border-bottom: 1rem solid rgb(175, 11, 11);*/
    background-image: url("images/img1.jpg");
    background-position: center;
    background-size: 110%;

}
h1{
    font-size: 5rem;
    font-family: "Merriweather Sans", sans-serif;
    
}
p{
    font-size: .95rem;
}
.abt{
    background-color: rgba(240, 230, 140, 0.466);
}
/*.about-sec{
    padding-block: 3rem;
}*/
/*#about{
    background-color: beige;
}*/
.imgcont2{
    width:50%;
    border:5px groove rgb(23, 46, 223);
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
.imgcont2:hover{
    transform: scale(1.1);
}
.span-heading{
    letter-spacing: .2rem;
    font-size: .8rem;
}
.about-heading{
    color:rgba(255, 0, 204, 0.721);
}
.semiheading{
    color: black;
}
.abt-link{
    color: green;
}

.span2{
    margin-top: 20px;
    color:black;
}
.services-heading{
    color: green;
}
/*#services{
    background-color: rgba(139, 0, 139, 0.325);
}*/
.ser-sec{
    padding: 70px;
    background-color: rgba(255, 105, 180, 0.362);

}
.card-text{
    text-align: center;
}
.my-card{
    background-color: rgba(0, 0, 0, 0.597);
}
.my-card:hover{

    background-color: aqua;

}
/*#portfolio{
    background-color: rgba(100, 148, 237, 0.552);
}*/
.port-cont{
    padding: 50px;
    background-color:cadetblue;
}
.port-txt{
    color:black;
}
.port-heading{
    color:darkkhaki;
}
.port-card{
    width:15rem;
}
.portfolio-card{
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.portfolio-card:hover{
    transform:scale(1.1);
}
.port-text{
    text-align: center;
    color:mediumvioletred;
}
.card-heading{
    color: brown;
}
/*#contact{
    background-color: rgba(0, 0, 0, 0.488);
}*/
.contact-cont{
    background-color: rgba(0, 0, 0, 0.458);
}
form{
    width:33rem;
}
.line{
    background: gray;
    height:.1rem;
    width:100%;
}
footer{
    background-color: rgba(255, 127, 80, 0.537);
} 


@media (max-width:680px) {

    h1{
      font-size: 2.8rem;
    }
    .image-cont1{
        width: 20rem;
        border: 5px solid black;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #about{
        margin-top: 20px;
    }
    .imgcont2{
        width: 70%;
        border-radius:50% ;
        aspect-ratio: 1;
        border: 5px groove rgb(25, 19, 197);
        background-size: cover;
    }
    .card-sec{
        margin-bottom: 20px;
    }
    form{
        width:18rem;
    }
    
    
    
}



